@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/RobotoCondensed-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  src: url("../fonts/Exo2/Exo2-Regular.ttf") format("truetype");
}
/************************************
  *********** Média Quéries **********
  ************************************/
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 0px 4px 0px;
  }
}
/************************************
  *********** Principal **************
  ************************************/
* {
  box-sizing: border-box;
  border-radius: 0;
  margin: 0;
  padding: 0;
  font-family: "Exo2", sans-serif, serif;
}
body {
  display: block;
}
.container-fluid {
  padding: 0;
}
h1,
h5 {
  font-family: "Roboto", sans-serif, sans-serif;
}

/************************************
  *********** Header*** **************
  ************************************/
#bgHeader {
  background-image: url("../images/imgHeader1.jpeg");
  background-size: cover;
  height: 500px;
  width: 100%;
}
#logo {
  position: absolute;
  left: 70%;
  top: 25%;
}
.navbar {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.14) 0%,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(232, 232, 232, 0) 100%
    ),
    #0462d4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-item {
  margin-left: 50px;
  margin-right: 50px;
}
a.nav-link {
  font-family: "Roboto", serif, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 8px 0px 4px 0px;
}
.navbar a:hover {
  color: #e84339 !important;
  border-bottom: #e84339 solid 2px;
}
.navbar-collapse.justify-content-center.collapse.show{
  text-align: center;
  margin: 0;
}
.fas.fa-bars {
  color: #e84339;
}
/************************************
  *********** Footer *****************
  ************************************/
footer {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    #0462d4;
}
.pContact {
  margin-left: 60px;
}
.icons {
  position: absolute;
  width: 25px;
  height: 25px;
}
#logoFacebook {
  width: 70px;
  height: 70px;
  margin-top: 50px;
}
